body {
    font-family: Arial, sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 20px;
  }
  
  .container {
    text-align: center;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 400px;
  }
  
  button {
    padding: 8px 15px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 20px 0;
    border: 3px solid black;
    font-size: 25px;
  }
  .edit-button {
    background-color: #4CAF50; /* 녹색 */
    color: white;
  }
  
  .delete-button {
    background-color: #f44336; /* 빨간색 */
    color: white;
  }