.getYearPage {
    margin-left: 10px;
    font-size: 20px;
}

.forBoldTxt {
    font-weight: bold;
    font-style: italic;
}

.getReleasedYear {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 45%;
}